<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>여기는 서브메인 페이지입니다</title>
</head>

<body>
  <h1> This is SubMainPage!!!!</h1>
  <h1>현재 빌릴수 있는 물품 개수 : <%= articleCount %></h1>
  <ul>
    <% for(let i=0; i<articleCount; i++) { %>
    <li>
      <%= ARTICLE[i].NAME %>
      <%= ARTICLE[i].STATUS %>
      <%= ARTICLE[i].END_DATE %>
    </li>
    <% } %>
  </ul>
</body>

</html>