<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>여기는 서브메인 페이지입니다</title>
</head>

<body>
  <h1> This is SubMainPage!!!!</h1>
</body>

</html>