<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 파일 업로드를 위해 인코딩 타입을 multipart/form-data으로 추가-->
  <form action="/write" method="POST" enctype="multipart/form-data">
    물품 타입 : <input type="text" name="objectType">
    물품명 : <input type="text" name="objectName">
    <br />
    이미지 : <input type="file" name="img" />
    <br />
    <button type="submit">등록</button>
  </form>

</body>

</html>